<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-paddingless"></div>
      <div class="column is-half">
        <div class="field">
          <label class="label">Add A Burger:</label>
          <div class="control">
            <input class="input" type="text" placeholder="Burger Name" id="burgerName">
          </div>
        </div>
        <div class="control">
          <button class="button" id="addBurger">Submit</button>
        </div>
      </div>
      <div class="column is-paddingless"></div>
    </div>
    <div class="columns">
      <div class="column is-paddingless"></div>
      <div class="column is-one-third" id="undevoured">
      </div>
      <div class="column is-one-third" id="devoured">
      </div>
      <div class="column is-paddingless"></div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="./assets/js/app.js"></script>